.root {
  background-color: #212121;
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
}

.container {
  max-width: 900px;
  margin: 0 auto;

  h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    margin-bottom: 19px;
    margin-top: 0;
    padding-top: 20px;
    text-transform: capitalize;
  }

  h2 {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 4px;
    margin-bottom: 19px;
    margin-top: 19px;
    text-transform: capitalize;
  }

  .description {
    margin-top: 51px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
  }
}

.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}
